.flexRow--products-mais-vendidos-desktop{
    max-width: 1248px;
    margin: auto;
    padding-bottom: 69px;
}
.flexCol--info-product-desktop{
    padding-bottom: 14px;
}
.flexCol--info-product-desktop:hover{
    background-color: #E6E8EA;
}
.flexColChild--info-product-desktop:nth-child(3n){
    height: 0px !important;
}
.flexColChild--info-product-desktop:nth-child(5n){
    margin: 0 auto;
    padding: 5px 0;
    text-transform: uppercase;
    width: 58%;
}
.flexRow--container-newsletter-desktop{
    background-color: #F2F2F2;
    padding: 24px 0 36px 0;
}