@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.container--title-mais-vendidos-mobile{
    max-width: 80.5vw;
    margin: 0 auto;
}
.heading--title-mais-vendidos-mobile{
    font-size: 18px;
    font-weight: 900;
    color: #000;
    border-bottom: 4px solid #E5E5E5;
    margin-top: 16px;
}
.heading--text-newsletter-mobile{
    font-family: 'Lato';
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}