.paginationDotsContainer--slider-banner-mobile{
    margin-bottom: 13px;
}
.slide--slider-mais-vendidos-mobile{
    width: 142px !important;
}
.paginationDotsContainer--slider-mais-vendidos-mobile{
    bottom: -29px;
}