.paginationDotsContainer--slider-banner-mobile{
    margin-bottom: 13px;
}
.slide--slider-mais-vendidos-mobile{
    width: 141.8px !important;
}
.paginationDotsContainer--slider-mais-vendidos-mobile{
    bottom: -29.34px;
}